<!DOCTYPE html>
<html lang="en">
<head>
        <h1>Ecommerce</h1>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Category</title>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            th, td {
                padding: 8px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
            th {
                background-color: #f2f2f2;
            }
        </style>
</head>
<body>
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Electronic Devices</td>
                </tr>
                <tr>
                    <td>Electronic Accesories</td>
                </tr>
                <tr>
                    <td>TV & Home Appliances</td>
                </tr>
                <tr>
                    <td>Health & Beauty</td>
                </tr>
                <tr>
                    <td>Babies & Toys</td>
                </tr>
                <tr>
                    <td>Groceries & Pets</td>
                </tr>
            </tbody>
        </table>
</body>
</html>